# venvs
.venv/
venv/
env/

# OS cruft
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Big artifacts we don't want in git
mlruns/
artifacts/
data/raw_data/
data/processed_data/

# BUT keep our bundled serving model in the repo
!src/serving/model/
!src/serving/model/**

#src/serving/model/*.pkl
src/serving/model/
